.bgIndex{

    background-color: black;
    /*
    background-image: url(../imagenes/bgindex.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
}

.encabezado{
    text-align: center;
    color: grey;
}

